/* google font ar link 
font-family: 'Dancing Script',
cursive;
font-family: 'Josefin Sans',
sans-serif;
font-family: 'Roboto Slab',
serif; */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Josefin+Sans&family=Roboto+Slab:wght@300&display=swap');